main {
    position: absolute;
    top: 75px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 30px;
    display: flex;
    overflow: auto;
    background-image: url(../images/background.png);
}

#widget {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px #BBB;
    padding: 20px 20px;
    display: flex;
}

#widget h1 {
    height: 40px;
    margin: auto;
    color: #004c71; 
}

#widget hr {
    margin: 5px 0px 15px 0px;
    border: solid 1px #ccc;
}

#widget .form{
    display: flex;
    flex-direction: column;
    margin: 0px 25px;
}

#widget .form .columns {
    display: flex;
    flex-direction: row;
}

#widget .form .columns > div {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
}

#widget .form input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 8px;
    border: solid 1px #ccc;
    font-size: 20px;
}

#widget .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#widget .row.response {
    color: red;
    align-self: center;
}