{% extends "base.html" %}

{% block title %}Opções de conta{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% include 'shared/header.html' %}
    <main>
        <div id="widget">
            <h1>Opções de conta</h1>
            <hr>
            <form action="/api/users/me" class="form" data-method="PUT" data-success-redirect="/account/options" >
                <div class="columns">
                    <div>
                        <input type="text" name="name" value="{{ user.name }}" placeholder="Nome" required>
                        <input type="email" name="email" value="{{ user.email }}" placeholder="email" required>
                        <input name="cpf" value="{{ user.cpf }}" placeholder="CPF (somente números)" required>
                        <input name="pis" value="{{ user.pis }}" placeholder="PIS (somente números)" required>
                        <input type="password" name="oldPassword" placeholder="Senha atual" autocomplete="off" required>
                        <input type="password" name="newPassword" placeholder="Nova senha (opcional)" autocomplete="off">
                    </div>
                    <div>
                        <input type="text" name="address.country" value="{{ user.address.country }}" placeholder="País" required>
                        <input type="text" name="address.state" value="{{ user.address.state }}" placeholder="Estado" required>
                        <input type="text" name="address.city" value="{{ user.address.city }}" placeholder="Cidade" required>
                        <input type="text" name="address.zip_code" value="{{ user.address.zip_code }}" placeholder="CEP" required>
                        <input type="text" name="address.street" value="{{ user.address.street }}" placeholder="Rua" required>
                        <input type="text" name="address.city" value="{{ user.address.city }}" placeholder="Cidade" required>
                        <input type="text" name="address.number" value="{{ user.address.number }}" placeholder="Número" required>
                        <input type="text" name="address.complement" value="{{ user.address.complement }}" placeholder="Complemento" required>
                    </div>
                </div>
                <div class="row response">
                </div>
                <div class="row">
                    <button class="button logout">Sair</button>
                    <button class="button warning deleteAccount">Deletar conta</button>
                    <input type="submit" value="Atualizar dados" class="button ok">
                </div>
            </form>
        </div>
    </main>
{% endblock %}

{% block script %}
    {{ super() }}
{% endblock %}