{% extends "base.html" %}

{% block title %}Olá visitante{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% include 'shared/header.html' %}
    <main>
        <div id="widget">
            <h1>Olá visitante</h1>
            <hr>
            <form action="/api/auth/login" class="form" data-method="post" data-success-redirect="/account">
                <div class="columns">
                    <div>
                        <input type="text" name="login" placeholder="Email, CPF ou PIS" autocomplete="off" required>
                        <input type="password" name="password" placeholder="Senha" autocomplete="off" required>
                    </div>
                </div>
                <div class="row response">
                </div>
                <div class="row">
                    <a href="/signup" class="button">Criar uma conta</a>
                    <button type="submit" class="button ok">Entrar</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}

{% block script %}
    {{ super() }}
{% endblock %}