{% extends "base.html" %}

{% block title %}Criar uma conta {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% include 'shared/header.html' %}
    <main>
        <div id="widget">
            <h1>Criar uma conta</h1>
            <hr>
            <form action="/api/users" class="form" data-method="post" data-success-redirect="/login">
                <div class="columns">
                    <div>
                        <input type="text" name="name" placeholder="Nome" required>
                        <input type="email" name="email" placeholder="Email" required>
                        <input type="number" name="cpf" placeholder="CPF (somente números)" maxlength="11" min="0" required>
                        <input type="number" name="pis" placeholder="PIS (somente números)" maxlength="11" min="0" required>
                        <input type="password" name="password" placeholder="Senha" autocomplete="off" required>
                    </div>
                    <div>
                        <input type="text" name="addresses.country" placeholder="País" required>
                        <input type="text" name="addresses.state" placeholder="Estado" required>
                        <input type="text" name="addresses.city" placeholder="Cidade" required>
                        <input type="text" name="addresses.zip_code" placeholder="CEP" required>
                        <input type="text" name="addresses.street" placeholder="Rua" required>
                        <input type="number" name="addresses.number" placeholder="Número" required>
                        <input type="text" name="addresses.complement" placeholder="Complemento" required>
                    </div>
                </div>
                <div class="row response">
                </div>
                <div class="row">
                    <a href="/login" class="button">Fazer login</a>
                    <input type="submit" value="Criar conta" class="button ok">
                </div>
            </form>
        </div>
    </main>
{% endblock %}

{% block script %}
    {{ super() }}
{% endblock %}